.videoSidebar {
  position: absolute;
  top: 50%;
  color: white;
  right: 10px;
}

.videoSidebar_options {
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 440px) {
  .videoSidebar {
    top: 46%;
  }
} ;
